html,
body {
    min-height: 100vh;
}

body {
    font-family: 'Lora', serif;
}

.wrapper {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template: min-content 1fr min-content / 1fr;
    background: center / cover no-repeat url(img/outside.jpg) #DBCBBD;
}

.header {
    background-color: #2E282AF4;
    color: #FFFFFF;
    padding: 30px 50px;
    box-shadow: 0px 2px 5px #00000096;

    display: grid;
    grid-template: 1fr / 1fr min-content 1fr;
    align-items: center;
    gap: 20px;

    position: sticky;
    top: 0;
}

.logo {
    grid-column: 2;

    margin: 0;
    color: #EDB88B;
    font-size: 3rem;
    font-family: "Dancing Script", cursive;
}

.nav {
    justify-self: right;

    display: flex;
    flex-flow: row nowrap;

    width: clamp(200px, 100%, 300px);

    & button {
        border: none;
        background-color: inherit;
        color: inherit;
        font-size: 1.2rem;
        flex: 1;

        &:hover {
            cursor: pointer;
            color:#EDB88B;
        }

        &:not(:last-of-type) {
            border-right: 1px solid #EDB88B;
        }
    }
}

.content {
    display: grid;
    justify-items: center;
    align-items: center;

    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFFF2;
    padding: 50px;
    border-radius: 25px;
    border: 5px double#EDB88B;
    outline: 5px solid #FFFFFFF2;
    margin-bottom: 40px;
    box-shadow: 11px 11px 5px #00000096;
}

.profile {
    border-radius: 50%;
    outline: 5px double#EDB88B;
    outline-offset: 2px;
}

.textbox {
    max-width: 700px;
    font-size: 1.1rem;

    h1,
    h2 {
        font-family: "Dancing Script", cursive;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
        width: 100%;
        padding-bottom: 20px;
        margin: 20px 0px;
        border-bottom: 2.5px solid #EDB88B;
    }

    h2 {
        font-size: 1.5rem;
        text-decoration: underline;
    }

}

.author {
    text-align: center;
    font-size: 1.4em;
    font-family: "Dancing Script", cursive;

    &:last-child {
        margin-top: 40px;
        margin-bottom: 0;
    }
}

.category {
    /* 
        For a reason unbeknownst to me, .card.textbox.category elements
        won't respect their parent's padding without me explicitly
        subtracting it along with .card borders and outlines. 
        
        May be a browser bug, or a skill issue from my part.
    */
    width: calc(100% - 110px); 
}

.menu {
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuItem {
    display: grid;
    grid-template: repeat(2, min-content) / 1fr min-content;
    gap: 5px 20px;

    & .name {
        font-weight: bold;
    }
}

.contact {
    max-width: 500px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: #FFFFFF;
    text-shadow: 1.5px 1.5px #000000;
    text-align: center;
    padding: 15px 40px;

    & p {
        margin: 0;
    }

    & a {
        text-decoration: none;
        color: inherit;

        &:hover {
            color: #EDB88B;
        }
    }
}

@media (max-width: 768px) {
    .header {
        grid-template: 1fr / 1fr;
        justify-items: center;
    }

    .logo {
        grid-column: 1;
    }

    .nav {
        justify-self: center;
    }
}

@media (max-width: 425px) {
    .card {
        padding: 40px 25px;
    }
    .content {
        padding: 30px 20px;
    }
    .category {
        width: calc(100% - 60px);
    }
}

@media (max-width: 320px) {
    .card {
        padding: 30px 10px;
    }
    .content {
        padding: 20px 10px;
    }
    .category {
        width: calc(100% - 30px);
    }
}